In [64]:
import pandas as pd

In [65]:
green = pd.read_csv("cities/%_of_public_green_space_(parks_and_gardens)_.csv",encoding = "ISO-8859-1")

In [66]:
pop_in_city = pd.read_csv("cities/%_of_total_national_country_population_living_in_the_city.csv",encoding = "ISO-8859-1")

In [67]:
art_g = pd.read_csv("cities/Art_Galleries.csv",encoding = "ISO-8859-1")

In [68]:
v_of_art = pd.read_csv("cities/Average_daily_no._of_visits_to_top_5_Art_exhibitions.csv",encoding = "ISO-8859-1")

In [69]:
income = pd.read_csv("cities/Average_income_per_capita_per_year_(ppp)_-_Sheet1.csv",encoding = "ISO-8859-1")

In [70]:
bookshops = pd.read_csv('cities/Bookshops.csv',encoding='ISO-8859-1')

In [71]:
cinemas = pd.read_csv('cities/Cinemas.csv',encoding='ISO-8859-1')

In [72]:
education= pd.read_csv('cities/Education_level-%_with_degree_level_or_higher_-_Sheet1.csv',encoding='ISO-8859-1')

In [73]:
att_carnival = pd.read_csv('cities/Estimated_attendance_at_main_Carnival-Festival_as_%_of_city_population_-_Sheet1.csv',encoding='ISO-8859-1')

In [74]:
fes_cel = pd.read_csv('cities/Festivals_and_Celebrations_-_Sheet1_-_Festivals_and_Celebrations_-_Sheet1.csv',encoding='ISO-8859-1')

In [75]:
film_fes = pd.read_csv('cities/Film_festivals_-_Sheet1_-_Film_festivals_-_Sheet1.csv',encoding='ISO-8859-1')

In [76]:
foreign_born = pd.read_csv('cities/Foreign_born_population_%_-_Sheet1_(1)_-_Foreign_born_population_%_-_Sheet1_(1).csv',encoding='ISO-8859-1')

In [77]:
gdp = pd.read_csv('cities/GDP_(ppp)(million)_-_Sheet1.csv',encoding='ISO-8859-1')

In [78]:
area = pd.read_csv('cities/Geographical_area_size,_sq._km_-_Sheet1.csv',encoding='ISO-8859-1')

In [79]:
concert_hall = pd.read_csv('cities/Major_Concert_Halls_-_Sheet1_-_Major_Concert_Halls_-_Sheet1.csv',encoding='ISO-8859-1')

In [80]:
museum = pd.read_csv('cities/National_Museums_-_Sheet1.csv',encoding='ISO-8859-1')

In [81]:
club_disco = pd.read_csv('cities/Night_Clubs,_Discos_and_Dance_Halls_-_Sheet1_-_Night_Clubs,_Discos_and_Dance_Halls_-_Sheet1.csv',encoding='ISO-8859-1')

In [82]:
cinema_adm = pd.read_csv('cities/No._of_cinema_admissions_per_year_-_Sheet1.csv',encoding='ISO-8859-1')

In [83]:
inter_tourist = pd.read_csv('cities/No._of_international_tourists_per_year_-_Sheet1.csv',encoding='ISO-8859-1')

In [84]:
theo_performance = pd.read_csv('cities/No._of_theatrical_performances_at_all_theatres_per_year_-_Sheet1.csv',encoding='ISO-8859-1')

In [85]:
bars = pd.read_csv('cities/Number_of_bars_-_Sheet1_-_Number_of_bars_-_Sheet1.csv',encoding='ISO-8859-1')

In [86]:
dance_perf = pd.read_csv('cities/Number_of_dance_performances_per_year_-_Sheet1.csv',encoding='ISO-8859-1')

In [87]:
int_student = pd.read_csv('cities/Number_of_international_students_studying_in_the_city_-_Sheet1_-_Number_of_international_students_studying_in_the_city_-_Sheet1.csv',encoding='ISO-8859-1')

In [88]:
markets = pd.read_csv('cities/Number_of_markets_-_Sheet1_-_Number_of_markets_-_Sheet1.csv',encoding='ISO-8859-1')

In [89]:
Michelin = pd.read_csv('cities/Number_of_Michelin_star_restaurants_-_Sheet1-2.csv',encoding='ISO-8859-1')

In [90]:
music_perf = pd.read_csv('cities/Number_of_music_performances_per_year_-_Sheet1.csv',encoding='ISO-8859-1')

In [91]:
other_heritage = pd.read_csv('cities/Number_of_other_Heritage_Historical_Sites_-_Sheet1.csv',encoding='ISO-8859-1')

In [92]:
restaurant = pd.read_csv('cities/Number_of_restaurants_-_Sheet1_-_Number_of_restaurants_-_Sheet1.csv',encoding='ISO-8859-1')

In [93]:
theaters = pd.read_csv('cities/Number_of_theatres.csv',encoding='ISO-8859-1')

In [94]:
pop = pd.read_csv('cities/Total_population_number_-_Sheet1.csv',encoding='ISO-8859-1')

In [95]:
cinema_tick = pd.read_csv('cities/Total_value_of_cinema_ticket_sales_per_year_-_Sheet1.csv',encoding='ISO-8859-1')

In [96]:
heritage = pd.read_csv('cities/UNESCO_World_heritage_Sites_-_Sheet1_-_UNESCO_World_heritage_Sites_-_Sheet1.csv',encoding='ISO-8859-1')

In [102]:
m1=area.merge(green,how='left', left_on='City', right_on='City')

In [105]:
m2 = m1.merge(pop_in_city,how='left', left_on='City', right_on='City')

In [106]:
m3 = m2.merge(art_g,how='left', left_on='City', right_on='City')

In [108]:
m4= m3.merge(v_of_art,how='left', left_on='City', right_on='City')

In [110]:
m5 = m4.merge(income,how='left', left_on='City', right_on='City')

In [180]:
def get_dollar(income):
    income = obj(income)
    return income.replace("$","")

######

In [114]:
m6 = m5.merge(bookshops,how='left', left_on='City', right_on='City')

In [116]:
m7 = m6.merge(cinemas,how='left', left_on='City', right_on='City')

In [119]:
m8 = m7.merge(education,how='left', left_on='City', right_on='City')

In [121]:
m9 = m8.merge(att_carnival,how='left', left_on='City', right_on='City')

In [123]:
m10 = m9.merge(fes_cel,how='left', left_on='City', right_on='City')

In [125]:
m11 = m10.merge(film_fes,how='left', left_on='City', right_on='City')

In [127]:
m12 = m11.merge(foreign_born,how='left', left_on='City', right_on='City')

In [129]:
m13 = m12.merge(gdp,how='left', left_on='City', right_on='City')

In [131]:
m14 = m13.merge(concert_hall,how='left', left_on='City', right_on='City')

In [133]:
m15 = m14.merge(museum,how='left', left_on='City', right_on='City')

In [135]:
m16 = m15.merge(club_disco,how='left', left_on='City', right_on='City')

In [138]:
m17 = m16.merge(cinema_adm,how='left', left_on='City', right_on='City')

In [140]:
m18 = m17.merge(inter_tourist,how='left', left_on='City', right_on='City')

In [142]:
m19 = m18.merge(theo_performance,how='left', left_on='City', right_on='City')

In [148]:
m20 = m19.merge(bars,how='left', left_on='City', right_on='City')

In [150]:
m21 = m20.merge(dance_perf,how='left', left_on='City', right_on='City')

In [152]:
m22 = m21.merge(int_student,how='left', left_on='City', right_on='City')

In [154]:
m23 = m22.merge(markets,how='left', left_on='City', right_on='City')

In [156]:
m24 = m23.merge(Michelin,how='left', left_on='City', right_on='City')

In [158]:
m25 = m24.merge(music_perf,how='left', left_on='City', right_on='City')

In [160]:
m26 = m25.merge(other_heritage,how='left', left_on='City', right_on='City')

In [162]:
m27 = m26.merge(restaurant,how='left', left_on='City', right_on='City')

In [164]:
m28 = m27.merge(theaters,how='left', left_on='City', right_on='City')

In [166]:
m29 = m28.merge(pop,how='left', left_on='City', right_on='City')

In [168]:
m30 = m29.merge(cinema_tick,how='left', left_on='City', right_on='City')

In [170]:
m31 = m30.merge(heritage,how='left', left_on='City', right_on='City')

In [172]:
data = m31

In [181]:
data['income_percap'].apply(get_dollar)

NameError: name 'obj' is not defined

In [175]:
data

,City,area_size,green,pop_in_city_per,art_galleries,visit_artexh,income_percap,bookshop,cinema,edu_level,...,markets,michelin_rest,music_performance,other_heritage_hist_sites,restaurants,theatres,population,cinema_tick,cinema_tic_percap,world_heritage
0,Amsterdam,"2,580",13.00%,14.2,196,"5,864","$19,271",136,38.0,42.00%,...,95.0,22.0,"3,900",14,"1,337",57.0,"2,388,463","$62,162,594",$26.00,4.0
1,Netherlands,"41,540",NaN,NaN,NaN,NaN,"$17,492",NaN,NaN,35.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"16,779,575",NaN,NaN,NaN
2,Berlin,892,14.40%,4.2,421,"1,653","$14,544",245,94.0,39.00%,...,NaN,14.0,NaN,"8,689","4,885",56.0,"3,460,725","$80,784,465",$23.00,3.0
3,Germany,"357,124",NaN,NaN,NaN,NaN,"$18,681",NaN,NaN,28.40%,...,NaN,NaN,NaN,NaN,NaN,NaN,"81,752,000",NaN,NaN,NaN
4,Bogota,345,4.40%,16.3,NaN,NaN,NaN,269,46.0,20.50%,...,39.0,NaN,NaN,"5,397","6,158",74.0,"7,674,366","$114,712,053",$14.95,0.0
5,Colombia,"1,141,750",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.10%,...,NaN,NaN,NaN,NaN,NaN,NaN,"47,120,770",NaN,NaN,NaN
6,Brussels,161,18.80%,10.5,313,NaN,NaN,NaN,11.0,NaN,...,NaN,NaN,NaN,"4,231","4,235",61.0,"1,175,173",NaN,NaN,3.0
7,Belgium,"30,528",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"11,209,044",NaN,NaN,NaN
8,Buenos Aires,200,8.90%,7.2,331,NaN,NaN,734,76.0,NaN,...,104.0,NaN,NaN,507,"2,823",287.0,"2,890,151","$53,846,548",$18.63,1.0
9,Argentina,"3,761,274",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"40,117,096",NaN,NaN,NaN
10,Dubai,"4,357",2.00%,24.9,62,NaN,NaN,NaN,NaN,31.80%,...,NaN,NaN,NaN,7,NaN,NaN,"2,327,350",NaN,NaN,0.0
11,Edinburgh,263,16.00%,9.2,80,926,"$54,590",52,9.0,56.30%,...,11.0,4.0,"16,796","16,340",138,NaN,"492,680",NaN,NaN,2.0
12,Scotland,"77,910",NaN,NaN,NaN,NaN,"$31,468",NaN,NaN,41.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"5,347,600",NaN,NaN,NaN
13,Hong Kong,"1,104",40.00%,100.0,95,"3,061","$30,346","1,540",47.0,29.00%,...,101.0,61.0,"1,362","1,111","12,564",42.0,"7,266,500","$276,202,260",$38.00,0.0
14,Istanbul,"5,461",2.20%,18.5,199,"2,179",$25.00,134,99.0,17.00%,...,601.0,NaN,"2,500","38,292","1,122",184.0,"14,337,018","$73,294,423",$5.00,1.0
15,Turkey,"780,043",NaN,NaN,NaN,NaN,$10.39,NaN,NaN,14.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"77,694,904",NaN,NaN,NaN
16,Johannesburg,"18,178",24.00%,22.4,76,NaN,"$11,591","1,020",47.0,32.00%,...,37.0,NaN,"7,400",281,"15,000",24.0,"11,328,203","$102,724,956",$9.00,1.0
17,South Africa,"1,219,090",NaN,NaN,NaN,NaN,"$7,165",NaN,NaN,24.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"50,586,757",NaN,NaN,NaN
18,London,"1,572",33.00%,13.1,857,"5,064","$53,701",360,158.0,60.00%,...,122.0,62.0,"19,710","20,511","24,360",241.0,"8,416,535","$423,222,863",$50.00,4.0
19,United Kingdom,"242,560",NaN,NaN,NaN,NaN,"$37,613",NaN,NaN,27.20%,...,NaN,NaN,NaN,NaN,NaN,NaN,"64,105,654",NaN,NaN,NaN
20,Los Angeles,"10,510",6.70%,3.3,434,"2,987","$27,737",474,133.0,29.70%,...,263.0,20.0,"3,036",577,"36,571",330.0,"10,116,705",NaN,NaN,0.0
21,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,745,538",NaN,NaN,NaN
22,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,745,538",NaN,NaN,NaN
23,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,747,508",NaN,NaN,NaN
24,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,745,538",NaN,NaN,NaN
25,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,745,538",NaN,NaN,NaN
26,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,747,508",NaN,NaN,NaN
27,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,745,538",NaN,NaN,NaN
28,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,745,538",NaN,NaN,NaN
29,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854",NaN,NaN,28.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,"308,747,508",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1221,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1222,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1223,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1224,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1225,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1226,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1227,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1228,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1229,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1230,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1231,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1232,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1233,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1234,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1235,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1236,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1237,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1238,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1239,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1240,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1241,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1242,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1243,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1244,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1245,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845",NaN,NaN,64.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,"33,476,688",NaN,NaN,NaN
1246,Vienna,415,45.50%,20.6,> 100,"20,785","$30,562",NaN,27.0,23.00%,...,NaN,94.0,"2,350",NaN,NaN,NaN,"1,766,746","$46,390,563",$26.25,2.0
1247,Austria,"83,879",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"8,572,895",NaN,NaN,NaN
1248,Warsaw,517,17.00%,4.5,44,"3,344","$34,236",NaN,27.0,25.30%,...,NaN,1.0,"1,743",37,NaN,NaN,"1,735,400",NaN,NaN,1.0
1249,Poland,"312,679",NaN,NaN,NaN,NaN,"$26,524",NaN,NaN,17.50%,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,478,602",NaN,NaN,NaN

In [182]:
data.to_csv('data.csv')

,City,area_size,green,pop_in_city_per,art_galleries,visit_artexh,income_percap
0,Amsterdam,"2,580",13.00%,14.2,196,"5,864","$19,271"
1,Netherlands,"41,540",NaN,NaN,NaN,NaN,"$17,492"
2,Berlin,892,14.40%,4.2,421,"1,653","$14,544"
3,Germany,"357,124",NaN,NaN,NaN,NaN,"$18,681"
4,Bogota,345,4.40%,16.3,NaN,NaN,NaN
5,Colombia,"1,141,750",NaN,NaN,NaN,NaN,NaN
6,Brussels,161,18.80%,10.5,313,NaN,NaN
7,Belgium,"30,528",NaN,NaN,NaN,NaN,NaN
8,Buenos Aires,200,8.90%,7.2,331,NaN,NaN
9,Argentina,"3,761,274",NaN,NaN,NaN,NaN,NaN
10,Dubai,"4,357",2.00%,24.9,62,NaN,NaN
11,Edinburgh,263,16.00%,9.2,80,926,"$54,590"
12,Scotland,"77,910",NaN,NaN,NaN,NaN,"$31,468"
13,Hong Kong,"1,104",40.00%,100.0,95,"3,061","$30,346"
14,Istanbul,"5,461",2.20%,18.5,199,"2,179",$25.00
15,Turkey,"780,043",NaN,NaN,NaN,NaN,$10.39
16,Johannesburg,"18,178",24.00%,22.4,76,NaN,"$11,591"
17,South Africa,"1,219,090",NaN,NaN,NaN,NaN,"$7,165"
18,London,"1,572",33.00%,13.1,857,"5,064","$53,701"
19,United Kingdom,"242,560",NaN,NaN,NaN,NaN,"$37,613"
20,Los Angeles,"10,510",6.70%,3.3,434,"2,987","$27,737"
21,United States,"9,147,593",NaN,NaN,NaN,NaN,"$27,854"
22,United States,"9,147,593",NaN,NaN,NaN,NaN,"$28,155"
23,United States,"9,147,593",NaN,NaN,NaN,NaN,"$28,155"
24,Madrid,604,35.00%,6.8,299,"2,999","$30,208"
25,Spain,"505,600",NaN,NaN,NaN,NaN,"$21,252"
26,Melbourne,"9,991",9.00%,18.9,162,"4,153","$34,724"
27,Australia,"7,692,024",NaN,NaN,NaN,NaN,"$51,623"
28,Australia,"7,692,024",NaN,NaN,NaN,NaN,"$36,967"
29,Montreal,624,14.80%,5.6,NaN,"1,794","$33,283"
...,...,...,...,...,...,...,...
49,United States,"9,147,593",NaN,NaN,NaN,NaN,"$28,155"
50,United States,"9,147,593",NaN,NaN,NaN,NaN,"$28,155"
51,San Paulo,"1,500",NaN,5.7,58,"3,182","$17,708"
52,Brazil,"8,514,877",NaN,NaN,NaN,NaN,"$9,212"
53,Brazil,"8,514,877",NaN,NaN,NaN,NaN,"$9,212"
54,Seoul,605,26.60%,19.7,416,NaN,"$17,743"
55,Korea,"100,266",NaN,NaN,NaN,NaN,"$15,066"
56,Shanghai,"6,340",2.80%,1.8,360,NaN,"$13,516"
57,China,"9,600,000",NaN,NaN,NaN,NaN,"$8,171"
58,China,"9,600,000",NaN,NaN,NaN,NaN,"$8,171"
59,Shenzhen,"1,997",45.00%,0.8,NaN,160,"$7,044.28"
60,China,"9,600,000",NaN,NaN,NaN,NaN,"$8,171"
61,China,"9,600,000",NaN,NaN,NaN,NaN,"$8,171"
62,Singapore,718,47.00%,100.0,258,NaN,"$76,846"
63,Stockholm,"6,526",40.00%,22.4,120,NaN,"$34,534"
64,Sweden,"528,447",NaN,NaN,NaN,NaN,"$29,247"
65,Sydney,"12,145",46.00%,20.6,207,NaN,"$41,255"
66,Australia,"7,692,024",NaN,NaN,NaN,NaN,"$51,623"
67,Australia,"7,692,024",NaN,NaN,NaN,NaN,"$36,967"
68,Taipei,272,3.60%,11.5,138,"2,932",NaN
69,Taiwan,"35,980",NaN,NaN,NaN,NaN,NaN
70,Tokyo,"2,130",3.40%,10.3,688,"6,258","$55,766"
71,Japan,"377,950",NaN,NaN,NaN,NaN,"$44,085"
72,Toronto,630,12.70%,7.8,156,"8,969","$32,566"
73,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$38,394"
74,Canada,"8,965,121",NaN,NaN,NaN,NaN,"$32,845"
75,Vienna,415,45.50%,20.6,> 100,"20,785","$30,562"
76,Austria,"83,879",NaN,NaN,NaN,NaN,NaN
77,Warsaw,517,17.00%,4.5,44,"3,344","$34,236"
78,Poland,"312,679",NaN,NaN,NaN,NaN,"$26,524"